/* https://www.josephz.me/
https://www.melaniedaveid.com/
https://jonlamb.com/?ref=onepagelove

also consider changing line-height property
change images to webp for efficiency
*/

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #5b828d;
    color: black;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


::selection {
    background: #3d1818;
    color: #fde047;
}





.expContainer {
    display: flex;
    flex: 1;
    align-self: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.expContainer h1 {
    color: #b8e2f3;
    margin: 0;
    padding: 0.5em;
    font-size: clamp(3rem, -1rem + 17.7778vw, 9rem);
    text-align: center;
}

.expContainer p{
    font-size: clamp(1rem, 0.6667rem + 1.4815vw, 1.5rem);
    color: white;
    text-align: center;
    padding: 4em;
}

.title{
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.title h1{
    text-align: center;
    padding: 0;
}

.title img{
    height: clamp(7rem, 0.3333rem + 29.6296vw, 17rem);
    border-radius: 50%;
    aspect-ratio: 1;
}


.itmContainer {
    /*make them all the same size*/
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    padding: 0;
    margin: 0;
}

.gridItm {
    background-color: #161001;
    padding-bottom: 0.3rem;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 11em;

    padding: 1em;
    margin: 1em;
    border: solid 0.1em #adaa96;
    border-radius: 0.8em;

    transition: 0.2s ease-out;
}

.gridItm:hover {
    background-color: #979f3c;
    border: solid 0.1em #dec430;
    transition: 0.4s ease-out;
}

.gridItm h1 {
    margin: 0;
    padding: 0;
    font-size: 2.25rem;
    font-weight: 10;
}

.gridItm p {
    margin: 0;
    font-size: 1.25rem;
}

footer {
    width: 100%;

    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    background-color: #979f3c;
    color: white;
    margin-top: 2em;
    align-self: flex-end;
}

footer * {
    margin: 0;
}

footer h1 {
    padding: 0.2em;
}

footer p {
    padding: 0.3em 0 1em 0;
}

footer a {
    text-decoration: underline;
    color: white;
    text-decoration: none;
}