/* https://www.josephz.me/
https://www.melaniedaveid.com/
https://jonlamb.com/?ref=onepagelove

also consider changing line-height property
change images to webp for efficiency
*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #161001;
    color: black;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

::selection {
    background: #3d1818;
    color: #fde047;
}





.expContainer {
    display: flex;
    align-self: center;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.expContainer h1 {
    color: white;
    margin: 0;
    padding: 0.5em;
    font-size: clamp(2rem, 1.6154rem + 1.5385vw, 3rem);
}



.itmContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 10rem;
    padding: 0;
    margin: 0;
}

.gridItm {
    background-color: #161001;
    padding-bottom: 0.3rem;
    text-align: center;
    text-decoration: none;
    color: white;
    
    padding: 1.5em;
    border: solid 0.2em #dec430;
    border-radius: 0.4em;

    transition: 0.2s ease-out;
}

.gridItm:hover {
    background-color: #de303f;
    transition: 0.4s ease-out;
}

.gridItm h1 {
    margin: 0;
    padding: 0;
    font-size: 2.25rem;
}

.gridItm p {
    margin: 0;
    font-size: 1.25rem;
}






footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222529;
    color: white;
}

footer * {
    margin: 0;
}

footer h1 {
    padding: 0.2em;
}

footer p {
    padding: 0.3em 0 1em 0;
}

footer a {
    text-decoration: underline;
    color: white;
    text-decoration: none;
}