/* https://www.josephz.me/
https://www.melaniedaveid.com/
https://jonlamb.com/?ref=onepagelove

also consider changing line-height property
change images to webp for efficiency
*/

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #5b828d;
    color: white;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


body.darkMode {
  background-color: #16191b;
  color: white;
}

::selection {
    background: #3d1818;
    color: #fde047;
}

#darkMode{
    background-color: transparent;
    border: none;
    font-size: 5rem;
}

.emoji-icon {
    transition: opacity 0.2s ease, transform 0.2s ease;
    display: inline-block;
}

.emoji-icon.hidden {
    opacity: 0;
    transform: scale(0.9);
}


.video{
    margin: 1em 0 1em 0;
    width: clamp(21.2rem, 3.2211rem + 82.1895vw, 70rem);
    height: auto;
    aspect-ratio: 16 / 9;
}

.rBtn {
    align-self: center;
    background-color: #5b828d;
    padding-bottom: 0.3rem;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 11em;
    border: solid 0.14em #dec430;
    padding: 1em;
    margin: 1em;
    border: solid 0.14 em #adaa96;
    border-radius: 0.8em;

    transition: 0.2s ease-out;
}

.rBtn:hover {
    border: solid 0.1em white;
    background-color: #979f3c;
    scale: 102.5%;
    transition: 0.4s ease-out;
}


.expContainer {
    display: flex;
    flex-grow: 1;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: navLoad 350ms ease-in-out;
}

@keyframes navLoad{
    0%{
        opacity: 0;
        scale: 99.5%;
    }
    100%{
        opacity: 100%;
        scale: 100%;
    }
}


.expContainer h1{
    color: #b8e2f3;
    margin: 0;
    padding: 0.5em;
    font-size: clamp(4.65rem, 1.8818rem + 12.6545vw, 9rem);
    text-align: center;
    padding: 0;
}

.expContainer p{
    font-size: clamp(1rem, 0.6667rem + 1.4815vw, 1.5rem);
    color: white;
    text-align: center;
    padding: 0 clamp(1em, -0.9091em + 8.7273vw, 4em) 0 clamp(1em, -0.9091em + 8.7273vw, 4em);
}


.title{
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.title h1 {
    color: #b8e2f3;
    margin: 0;
    padding: 0.5em;
    font-size: clamp(4.65rem, 1.8818rem + 12.6545vw, 9rem);
    text-align: center;
    padding: 0;
}

.title img{
    margin: 0.5em;
    height: clamp(13rem, 10.4545rem + 11.6364vw, 17rem);
    border-radius: 50%;
    aspect-ratio: 1;
}


.itmContainer {
    /*make them all the same size*/
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    padding: 0;
    margin: 0;
}

.gridItm {
    background-color: #161001;
    padding-bottom: 0.3rem;
    text-align: center;
    text-decoration: none;
    color: #b8e2f3;
    width: 11em;

    padding: 1em;
    margin: 1em;
    border: solid 0.1em #adaa96;
    border-radius: 0.8em;

    transition: 0.2s ease-out;
}

.gridItm:hover {
    background-color: #979f3c;
    border: solid 0.1em #dec430;
    scale: 102.5%;
    transition: 0.4s ease-out;
}

.gridItm h1 {
    margin: 0;
    padding: 0;
    font-size: clamp(1.8rem, 1.5136rem + 1.3091vw, 2.25rem);
    font-weight: 10;
}



footer {
    width: 100%;

    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    background-color: #979f3c;
    color: white;
    align-self: flex-end;
}

footer * {
    margin: 0;
}

footer h1 {
    padding: 0.2em;
}

footer p {
    padding: 0.3em 0 1em 0;
}

footer a {
    text-decoration: underline;
    color: white;
    text-decoration: none;
}